* {
    font-family: "Libre Franklin", Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("/static/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 1 999;
    font-stretch: 0% 100%;
    font-optical-sizing: 0 100;
    font-style: normal;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


